html, body, div {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
} 
 
 /* PRIMARY STYLES
    Author: Headlamp Creative (www.headlampcreative.com)
 */

#form-wrapper input#submit,
#form-wrapper label,
#form-sidebar strong,
#form-sidebar ul li a,
#who a,
#who p,
#cowork a,
a.link    {
	font-family: "kulturista-web-1","kulturista-web-2", Helvetica, Arial, sans-serif;
	font-weight: 600;
}

h2 {
	font-size: 22px;
	font-weight: 500;
	text-shadow: 1px 1px 1px #FFF;
}
header { /*	background:#666;  COLOR para la cabezera*/
	width: 100%;
	height: 25px;
	padding: 0 0 20px 0;
	background:url(../img/super.png) repeat-x;
	position:fixed;
}
.about li#nav-about a,
.work li#nav-work a {
	border-bottom: 4px solid #FFF;
}
#contact-us {
	position: absolute;
	top: 0;
	right: 0;
	-khtml-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#contact-us a.closed {
	float: left;
	width: 80px;
	height: 45px;
	background: url(../img/email.png) 0 0 no-repeat;
	text-indent: -9999px;
}
#contact-us a.closed:hover {
	background: url(../img/email.png) 0 0 no-repeat;
}
#contact-us a.open {
	float: left;
	width: 80px;
	height: 45px;
	background: url(../img/email.png) -160px 0 no-repeat;
	text-indent: -9999px;
}
#contact-us a.open:hover {
	background: url(../img/email.png) -160px 0 no-repeat;
}
#contact-form {
	background:  url(../img/contact-bkgd.png) repeat;
	width: 100%;
	height: 630px; 
	margin: 0 auto;
	position:fixed;
}
#form-wrapper {
	margin: 0 auto;
	width: 960px;
	position: relative;
}
a.close {
	position: absolute;
	top: 0;
	right: 0;
	width: 80px;
	height: 45px;
	background: url(../img/email.png) -240px 0 no-repeat;
	text-indent: -9999px;
	display: block;
}
#form-wrapper h2 {
	color: #FFF;
	font-size: 30px;
	padding-top: 50px;
	margin-bottom: 0;
	float: left;
	width: 100%;
	font-weight: 500;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.4);
}
#form-wrapper h2 strong {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 28px;
}
#form-wrapper form {
	float: left;
}
#form-wrapper .input-name,
#form-wrapper .input-email,
#form-wrapper .input-message {
	float: left;
	padding: 22px 20px 10px 0;
	font-size: 16px;
	color: #e3dfdc;
	position: relative;
}
#form-wrapper input#name,
#form-wrapper input#email {
	width: 290px;
}
#form-wrapper label {
	float: left;
	width: 320px;
	padding-bottom: 7px;
	color: #FFF;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.4);
}
#form-wrapper textarea {
	width: 632px;
}
#form-wrapper input,
#form-wrapper textarea {
	padding: 15px 15px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #FFF;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
	color: #e3dfdc;
	color: #b9b2ac;
}
#form-wrapper input {
	background: #FFF url(../img/input-shadow.png) bottom left repeat-x;
}
#form-wrapper textarea {
	background: #FFF url(../img/textarea-shadow.png) bottom left repeat-x;
	height: 210px;
}
#form-wrapper input:focus,
#form-wrapper textarea:focus {
	background: #FFF;
	outline: none;
	-webkit-box-shadow:none;
	color: #554d47;
}
#form-wrapper input#submit {
	background: #64b1c4 url(../img/blue-shadow.png) 0 0 repeat-x;
	float: left;
	width: 200px;
	padding: 9px 0; 
	font-size: 25px;
	margin-top: 5px;
	border-color: rgba(255, 255, 255, .15);
	color: #FFF;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	font-family: "kulturista-web-1","kulturista-web-2";
	font-weight: 500;
}
#form-wrapper input#submit:hover {
	background: #64b1c4 url(../img/blue-shadow.png) 0 -20px repeat-x;
}
#form {
	float: left;
	width: 690px;
}
#form-sidebar {
	float: right;
	width: 250px;
	padding: 130px 0 0 0;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.4);
}
#form-sidebar p {
	font-size: 17px;
	color: #aeaaa7;
	line-height: 1.5em;
	margin-bottom: 40px;
}
#form-sidebar p a {
	color: #aeaaa7;
	text-decoration: none;
}
#form-sidebar p a:hover {
	color: #FFF;
}
#form-sidebar strong {
	display: block;
	font-size: 19px;
	line-height: 1.7em;
}
#form-sidebar h3 {
	color: #FFF;
	font-size: 28px;
	margin: 0 0 10px 0;
	font-weight: 500;
}
#form-sidebar ul {
	margin: 0;
	list-style: none;
}
#form-sidebar ul li {
	margin: 25px 0;
}
#form-sidebar ul li a {
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
	color: #aeaaa7;
	padding: 10px 0 10px 52px;
}
#form-sidebar ul li a:hover {
	color: #FFF;
}

/*PARA EL CIELO*/

#containerTop {
  width: 100%;
	height: 25px;
	padding: 0 0 20px 0;
	background:#CCC;
}
.sectionTop  {
  width: 100%;
	height: 25px;
	padding: 0 0 20px 0;
	background:#CCC;
}
.section p:last-childTop  {
  margin-bottom: 0;
}

/*EL DEMAS ESTILO*/

*{
	border:0;
	margin: 0;
	padding: 0;
}

body {
	color: #000; /*COLOR DEL TEXTO*/
	font: 12px/20px Helvetica, Arial, sans-serif;
  	background:url(../img/fondo3.png) scroll;
}
p,ul {
	margin: 0;
	padding: 0;
}
p {
	margin-bottom: 30px;
}
#nav {
	
	cursor:pointer;
	min-width:90px;
	max-width:148px;


	border-radius:0px 16px 16px 0px;
	border-width:1px;

	margin:0;
	padding:0;
	background:url(../img/menu.png) repeat;/*#0092bf*/
	position:fixed;
	left:0;
	top:188px;
	text-align:center;
	overflow:hidden;
	color:#fff;
	z-index:1000;
	_display:none;
}

 /****************************************************/
 nav #navmenu
{
	display:none;
}
nav:hover #navmenu
{
	display:block;}nav:hover #navhdr{display:none;}nav h2{display:block;width:60px;margin-left:auto;margin-right:auto;}nav ul{text-align:left;width:148px;}nav a{color:#fff;display:block;padding:6px 0 4px 16px;font-style:normal;}nav a:hover,nav a:focus{background:#f14a29;outline:0;}#wrapper{width:1000px;margin:0 auto;padding:48px 0 0 0;}
	
	/******************************************************************/
#nav li {
	margin-bottom: 2px;
}
#nav a { /*Aqui se modifica todo lo del texto*/
	display: block;
	font-size: 16px;
	padding: 5px 5px;
	text-decoration: none;
}
#nav a:hover { /*Cuando el cursor pasa sobre un apartado del menu cambia de color*/
	background:url(../img/sobre.png) repeat-x;
	background-size:auto;
	color:#FFF;
}
#nav .current a { /*Cuando un elemento del menu esta en activo*/
	background:url(../img/select.png) repeat-x;
	background-size:auto;
	color: #ededed;
}
#container { /*Esto contiene toda la hoja de contenido de la pagina*/
	margin-left:170px;
	width: 950px;
	text-align:justify;
	margin-top:50px;
	background: #FFF;
}
.section {
	border-bottom: 5px solid #ccc;
	padding: 20px;
	margin-top:50;
}
.section p:last-child {
	margin-bottom: 0;
	top:250px;
}
.titulo{
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	color: #2483A6;
	font-size: 2.4em;
	font-weight: bold;
}
.headerA
{
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	margin-top:30px;
	font-weight: bold;
	font-size: 54px;
	font-weight: bold;
	color: #FFFFFF;
	}
	
.headerB
{
	font-size:24px;
	color:#FFF;
	margin-top:24px;
	font-family: 'Oswald', sans-serif;
	}
	
/*DESDE AQUI COMIENZA LO DE QUIENES SOMOS*/

#contenedor1
{
	width:900px;
	height:600px;
	margin-top:10px;
}

#contHome
{
	width:900px;
	height:350px;
	background:#CCC;
	margin-top:10px;
}

.home
{
	border:solid #09F;
	border-radius: 16px;
	border-width:5px;
	margin-left:20px;
	width:850px;
	height: 400px;
	overflow:hidden;
	float:left;
	text-align:center;
}
	
#logo1
{
	border:solid #09F;
	border-radius: 16px;
	border-width:5px;
	margin-left:20px;
	width:260px;
	overflow:hidden;
	float:left;
	text-align:center;
	background:url(../img/infoConoce.png) repeat-x;
}

.texto
{
	font:'Oswald', sans-serif;
	font-size:16px;
	color: #FFF;
	text-decoration:blink;
	text-align:justify;
	width:260px;
	min-height:150px;
	float:left;
	background: #09F;
}


#logo2
{
	border:solid #09F;
	border-radius: 16px;
	border-width:5px;
	width:260px;
	float:left;
	text-align:center;
	margin-left:30px;
	background:url(../img/infoConoce.png) repeat-x;
}

.texto2
{
	font:'Oswald', sans-serif;
	font-size:16px;
	color: #FFF;
	text-decoration:blink;
	text-align:justify;
	width:260px;
	min-height:150px;
	float:left;
	background: #09F;
	}

#logo3
{
	border:solid #09F;
	border-radius: 16px;
	border-width:5px;
	width:260px;
	float:left;
	text-align:center;
	margin-left:30px;
	background:url(../img/infoConoce.png) repeat-x;
	}

.texto3
{
	font:'Oswald', sans-serif;
	font-size:16px;
	color: #FFF;
	text-decoration:blink;
	text-align:justify;
	width:260px;
	min-height:150px;
	float:left;
	background: #09F;
	}
	
.tituloContenedor
{
	font-size: 2.4em;
	text-transform:uppercase;
	color:#2483A6;
	margin-top:24px;
	font-family: 'Oswald', sans-serif;
	}

.tituloContenedor2
{
	font-size: 20px;
	text-transform:uppercase;
	color:#2483A6;
	margin-top:24px;
	font-family: 'Oswald', sans-serif;
	}
	
#contentEscuela
{
	width:900px;
	height:500px;
	margin-top:10px;
	}
	
#loginEscuela
{
	margin-top:70px;
	border:solid #09F;
	border-radius: 16px;
	border-width:5px;
	height:350px;
	width:260px;
	float:left;
	text-align:center;
	margin-left:30px;
	background: #D5EEFF;
	}
	
.barra
{
	width:100%;
	height:50px;
	float:left;
	background: #09F;
	}

.titleLog
{
	font-size:30px;
	text-align:center;
	color:#FFF;
	font-family: 'Oswald', sans-serif;
	padding:10px 0 0 0;
	}

#mapsGoogle
{
	margin-top:50px;
	border:solid #09F;
	border-radius: 16px;
	border-width:5px;
	height:400px;
	width:530px;
	float:left;
	text-align:center;
	margin-left:30px;
	background:url(../img/infoConoce.png) repeat-x;
	}

.ruta
{
	font:'Oswald', sans-serif;
	font-size:16px;
	color: #FFF;
	text-decoration:blink;
	text-align:justify;
	width:100%;
	height:100px;
	float:left;
	background: #09F;
	}
	
#textAreaLog
{
	margin-left:50px; border:solid #09F; border-radius: 16px; width: 90px; height:50px; padding: 10px 10px 10px 1px;

	}

#areaConoceMas
{
	width:900px;
	height:550px;
	margin-top:10px;
	background: #09F;
	border:solid #09F;
	border-radius: 16px;
	border-width:5px;
}
.galeriaConoceMas
{
	width: 500px;
	height: 450px;
	background:url(../img/infoConoce.png) repeat-x;
	margin-top: 50px;
	margin-left: 30px;
	float:left;
	border:solid #09F;
	border-radius: 16px;
	border-width:5px;
}

.infoGaleria
{
	width: 320px;
	height: 450px;
	background:url(../img/infoConoce.png) repeat-x;
	margin-top: 50px;
	margin-left: 20px;
	float:left;
	border:solid #09F;
	border-radius: 16px;
	border-width:5px;
}

.textoVideo
{
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	margin-left: 20px;
	width: 450px;
	height: 140px;
	background: #FFF;
	font-family: Arial;
	font-size: 12px;
	border-bottom-right-radius: 16px;
	border-bottom-left-radius: 16px;
	/*box-shadow: 10px 10px 10px #666;*/
}

.textoComentario{
	padding-left: 5px;
	padding-top: 5px;
	margin-left: 20px;
	margin-top: 20px;
	width: 280px;
	height: 20px;
	box-shadow: 10px 10px 10px #666;
	border-radius: 16px;
	font-size: 20px;
	color: #FFF;
	font-family: Arial;
	text-align: center;
	background: #09F;
}

#footer
{
	margin-top:100px;
	background:url(../img/footer.png) repeat-x;
	height:300px;
	width:100%;
	text-align:center;
	}

.fot1
{
	margin-top:50px;
	margin-left:170px;
	float:left;
	width:300px;
	height:200px;
	background:url(../img/footer2.png) repeat-x;
	}

.fot2
{
	margin-top:50px;
	margin-left:25px;
	width:300px;
	height:200px;
	float:left;
	background:url(../img/footer2.png) repeat-x;
	}

.fot3
{
	margin-top:50px;
	margin-left:25px;
	width:300px;
	height:200px;
	float:left;
	background:url(../img/footer2.png) repeat-x;
	}

.fot4
{
	margin-top: 50px;
	width:100%;
	height:30px;
	float:left;
	background:url(../img/footer2.png) repeat-x;
	padding-top: 10px;
	}
	
/* AQUI TERMINA LO DE QUIENES SOMOS */

	
/*GALERIA de integrantes*/



#services div {
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
}

#team li img {
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
}
/* OUR CLIENTS */

#team {
	margin-left:20px;
	background: #09F; /*Color del recuadro contenedor de la imagen*/
	width: 810px;
	padding: 30px 30px 30px;	
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

#team ul {
	width: 887px; height: 250px;
	margin: 0 auto;
	padding: 10px 0 0 3px;
}

#team li {
	float: left; 
	margin: 0 0 50px 3px;
	display: block;
	width: 195px; height: 195px;
}

#team li div {	
	width: 100%; 
	height: 100%;
	background: #FFF; /*Color dentro del recuadro de la imagen*/
	overflow: hidden; 
	position: relative;	
	}

#team li h2,
#team li p {
	text-align: center;
	width: 100%;
	font-weight: bold;
}

#team li h2 { color: #006; font-size: 18px; line-height: 1.5; padding-top: 77px; }
#team li p { 	color: #03F; font-size: 14px; line-height: 1.714285714; }

#team li img {
	position: absolute; left: 1px; top: 1px;
}

#team li:hover img {	left: -215px;	}